

{% extends 'base.html'  %}

{% load static %}

{% block title %} X-Pizza{% endblock %}

{% block content %}


<article>
    <div class="container-fluid mt-4">
        <h2 class="title p-4">A taste of awesomeness!</h2>


                                <table id="power" class="table display  table-bordered table-hover mt-1 mb-3">
                                    <thead>
                                        <tr>
                                            <th>S/N</th>
                                            <th>Name</th>
                                            <th>Description</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for pizza in pizzas %}
                                    <tr>
                                        <th>{{ forloop.counter }}</th>
                                        <td>{{ pizza.title }}</td>
                                        <td>{{ pizza.description }}</td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>


    </div>

</article>





{% endblock %}