
{% extends 'base.html'  %}

{% load static %}

{% block title %} Home{% endblock %}

{% block content %}


<article>
    <div class="cont-wrapper">

             <div class="container p-4">
                <h1 class="title">You shall know the TRUTH, and the TRUTH shall set you free</h1>
                <p>It is for freedom that Christ has set us free. Stand firm, then, and do not let yourselves be burdened again by a yoke of slavery - <strong>Galatians 5:1</strong>
.</p>

             </div>

    </div>

</article>





{% endblock %}